
main {

    padding-top: 80px;
    padding-left: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    background-color: #f9f9f9;
}

.video-grid {

    width: 320px;
    height: 300px;
}

.thumbnail {

    position: relative;
}

.video-img-container {

    width: 100%;
    margin-bottom: 5px;
}

.video-img-container:hover{

    filter: brightness(150%);
    transition: opacity 0.2s;
}

.video-img-container img {

    width: 100%;
}

.time-stamp {

    background-color: black;
    color: white;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: 12px;
    right: 5px;
    z-index: 98;
}

.video-info-container {

    display: flex;
    
}

.channel-img-container {

    width: 40px;
    margin-right: 10px;
}

.channel-img-container img{

    border-radius: 60px;
    width: 100%;
}

.video-title {

    margin: 0 0 10px 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 20px;
    color: black;
}

.video-details p{

    margin: 0 0 5px 0;
    font-size: 12px;
    color: #606060;
    font-family: 'Roboto', sans-serif;
    
}

a {
    text-decoration: none;
}
